<!DOCTYPE html> <html lang="en">
		
	<head>
		<title>AUTOMATED TADMAN REGISTRATION</title>
		<meta charset="utf-8"/>
		
		
                <link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="css/final.css"/>
		<script src="javascript/jquery.js"></script>
       		<script src="javascript/bootstrap.min.js"></script>
		<script src="javascript/globs.js"></script>
	        <script src="javascript/jqinit.js"></script>

<!--		<meta name="viewport" content="width-device-width, initial-scale-1.0"> -->
		
	</head>
		
		<body class="body">


	<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Automated Tadman Registration</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Student<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="again.html">Fill-Up</a></li>
            <li><a href="edit.html">Edit Application</a></li>
            <li><a href="template.html">Show Template</a></li>
			
          </ul>
        </li>
		<li class="dropdown">
		<a href="#" id="password" data-toggle="modal" data-target="#myModal">
  Admin
</a>   <li><a href="show_registered.html">Registered</a></li>
      </ul>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="myModalLabel">Admin Authentication</h3>
      </div>
      <div class="modal-body">
	<form class="modal-form" id="confirmpasskey" method="get">
        <p class="modal-description">Please enter the authentication key provided to you.</p>
	</br>
	</br>
	<p>
	&nbsp;&nbsp;<input type="password" id="passkey" placeholder="Enter Key">
	</p>
	</form>
	<!--script>
		$("#confirmpasskey").validate();
	</script-->
	<div class="wrongkey"></div>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-primary" href="#" onclick="confirmKey($('#passkey').val())">Confirm</a>
      </div>
    </div>
  </div>
</div>


	<div class="col-sm-3 col-md-3 pull-right">
		<div class="navbar-form" role="search">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Enter ID No." name="srchterm" id="srchterm"/>
			<div class="input-group-btn">
				<button class="btn btn-default" type="button" onclick="loadsearch(srchterm)"><i class="glyphicon glyphicon-search"></i></button>
			</div>
		</div>
		</div>
		</div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="about.html">About the Developers</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
<img src="pictures/b.jpg">
</nav>


<!--end navbar-->
			<div class="container">
				<h2> About the Authors</h2>
				<p> We are Team Burlough, we are who we are, we fight 'til the end of time. </p>
				<p> Death is inevitable but memories will remain forever in time.</p>
<br>
<br><br><br>
	<div class="col-md-12">
	<img src="pictures/c.jpg"><br> <p> Raphael Jose Balonga </p>
	<a href="https://www.facebook.com/raphaeljose.balonga">Facebook</a>
	</div>
	<div class="col-md-12">
	<img src="pictures/d.jpg"><br><p> Cristy Loraine Fuerzas</p>
	<a href="https://www.facebook.com/cristyloraine.fuerzas">Facebook</a>
	</div>
	<div class="col-md-12">
	<img src="pictures/k.jpg"><br><p>Dareen Mae Bandola</p>
	<a href="https://www.facebook.com/darsquared06">Facebook</a>
	</div>
	<div class="col-md-12">
	<img src="pictures/e.jpg"><br><p> Lorie Anne Castillano</p>
	<a href="https://www.facebook.com/clorieanne">Facebook</a>
	</div>
	<div class="col-md-12">
	<img src="pictures/f.jpg"><br><p> Pio Pentin</p>
	<a href="https://www.facebook.com/JunPi0">Facebook</a>
	</div>
	
</div>
<!--modal -->

<div id="myModal2" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Search Results</h4>
            </div>
            <div id="v"class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" >Close</button>
            </div>
        </div>
    </div>
</div>

	
	<div class="footer">
      <div class="container">
        <p class="text-muted">Copyright&copy;2014 TeamBurlough.edu.com.gov.ph</p>
      </div>
    </div>
		</body>
		
</html>
